.root {
    -fx-base: #0E1925; /* ice blue */
    -main-content-color: #441a73; /* violet */
    -fx-font-family: 'Roboto';
    -light-gray: #CCCCCC;
}

/* javafx classes ---------------------------------------------------------- */

.text-field {
    -fx-background-color: derive(-fx-base, 50%);
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: transparent;
}

.tree-view {
    -fx-background-color: -fx-base;
    -fx-background-insets: 1;
    -fx-background-radius: 4;

    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 0; /* 0.083333em; */
}

.tree-view:focused {
    -fx-background-color: -fx-base;
    -fx-background-insets: 1;
    -fx-background-radius: 4;
    /* There is some oddness if padding is in em values rather than pixels,
       in particular, the left border of the control doesn't show. */
    -fx-padding: 0; /* 0.083333em; */
}

.tree-view > .virtual-flow > .scroll-bar:vertical {
    -fx-background-insets: 1;
    -fx-padding: 0;
}

.tree-view .scroll-bar:vertical .track-background { /* Stackpane of the track area */
    -fx-background-color: derive(-fx-base, 20%);
}

.tree-view > .virtual-flow > .corner {
    -fx-background-color: -fx-base;
    -fx-background-insets: 1;
}

.tree-cell {
    -fx-background-color: -fx-base;
    -fx-padding: 0.25em; /* 3 */
    -fx-text-fill: -fx-light-text-color;
    -fx-indent: 10;
}

.tree-view:focused > .virtual-flow > .clipped-container > .sheet > .tree-cell:focused {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-background-insets: 0;
}

.tree-cell > .tree-disclosure-node > .arrow,
.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: white;
    -fx-padding: 0.333333em; /* 4 */
    -fx-shape: "M 0 -4 L 8 0 L 0 4 z";
}

.tree-cell:odd {
    -fx-background-color: derive(-fx-base,-15%);
}

/* hover selected tree cell */
/*.tree-cell:hover{
    -fx-font-weight: bold;
}*/

/* Styling when out of focus */
.tree-cell:filled:selected .label {
    -fx-text-fill: -fx-light-text-color;
}

.list-view {
    -fx-background-color: derive(-fx-base, 40%);
    -fx-border-width: 0;
}

.list-view .list-cell {
    -fx-background-color: derive(-fx-base, 40%);
}

.list-view .list-cell:odd {
    -fx-background-color: derive(-fx-base, 30%);
}

.list-view > .virtual-flow > .corner,
.list-view .scroll-bar:vertical .track-background { /* Stackpane of the track area */
    -fx-background-color: derive(-fx-base, 20%);
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button { /* Stackpane of the thumb area */
    -fx-background-color: derive(-fx-base, 40%);
}

/* disable horizontal scroll */
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-padding:0;
}

.tab {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-text-fill: -fx-light-text-color;
}

.toggle-button {
    -fx-border-radius: 14;
    -fx-background-radius: 14;
    -fx-opacity: 0.6;
}

.toggle-button:selected {
    -fx-background-color:
            linear-gradient(derive(-fx-base,-80%) 0%, derive(-fx-base,-50%) 20%, derive(-fx-base,-40%) 100%),
            linear-gradient(derive(-fx-base, 80%) 0%, derive(-fx-base, 90%) 5%, derive(-fx-base, 65%) 50%, derive(-fx-base, 60%) 51%, derive(-fx-base, 50%) 100%);
    -fx-opacity: 1.0;
}

.context-menu > * > .separator > .line {
    -fx-border-color: #999999;
    -fx-border-insets: 0;
}

.button:cancel {
    -fx-background-color: #999999;
    -fx-border-color: #333333;
}

.button:pressed {
    -fx-border-width: 2px;
    -fx-border-insets: -1;
}

/* mplayer classes --------------------------------------------------------- */

.main-content {
    -fx-background-color: #441a73; /* violet */
}

.component {
    -fx-background-color: derive(-fx-base,20%);
    -fx-background-radius: 4;
    -fx-border-radius: 4;
    -fx-border-color: white;
    -fx-border-insets: 0;
    -fx-background-insets: 1;
}

.navi-bar {
    -fx-background-color: derive(-fx-base,20%);
    -fx-border-color: white;
    -fx-border-width: 0 1 1 0;
    -fx-border-radius: 0 0 4 0;
}

.navi-button {
    -fx-background-color: derive(-fx-base,20%);
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 12;
}

.navi-button:hover {
    -fx-background-color: derive(-fx-base,50%);
}

.function-button {
    -fx-background-color:
            derive(-fx-base,90%),
            linear-gradient(derive(-fx-base,-80%) 0%, derive(-fx-base,-50%) 20%, derive(-fx-base,-40%) 100%),
            linear-gradient(derive(-fx-base, 80%) 0%, derive(-fx-base, 90%) 5%, derive(-fx-base, 65%) 50%, derive(-fx-base, 60%) 51%, derive(-fx-base, 50%) 100%);
    -fx-background-insets: 0 0 -1 0,0,1;
    -fx-background-radius: 5,5,4;
    -fx-text-fill: -fx-light-text-color;
}

.function-button:hover {
    -fx-background-color:
            derive(-fx-base,99%),
            linear-gradient(derive(-fx-base,-60%) 0%, derive(-fx-base,-30%) 20%, derive(-fx-base,-20%) 100%),
            linear-gradient(derive(-fx-base, 90%) 0%, derive(-fx-base, 95%) 5%, derive(-fx-base, 75%) 50%, derive(-fx-base, 70%) 51%, derive(-fx-base, 60%) 100%);
}

.function-button:pressed {
    -fx-border-color: -light-gray;
    -fx-border-radius: 5,5,4;
    -fx-border-width: 1px;
    -fx-border-insets: -1;
}

.detail-component {
    -fx-border-color: white;
    -fx-border-width: 0 0 1 0;
}

.detail-component-header {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-weight: bold;
    -fx-font-size: 12;
}

.form-label {
    -fx-text-fill: -fx-light-text-color;
}

.chips-pane {
    /*!*-fx-spacing: 8px; !* btw. filter-items *!*! doesnt work in FlowPane */
    -fx-padding: 2px 0 2px 4px;
    -fx-alignment: top-left;
    -fx-hgap: 2;
    -fx-vgap: 2;
}

/*.chips-pane > * {*/
/*    -fx-font-size: 12px;*/
/*    -fx-spacing: 4px;*/
/*    -fx-padding: 0 4px 2px 0;*/
/*    -fx-alignment: center-left;*/
/*}*/

.chip0 {
    -fx-background-radius: 6 0 0 6;
    -fx-border-radius: 6 0 0 6;
    -fx-padding: 0 0 0 5px;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}

.chip1-readonly {
    -fx-background-radius: 0 6 6 0;
    -fx-border-radius: 0 6 6 0;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-min-width: 6px;
    -fx-padding: 0 2 0 0;
}

.chip1-closeable {
    -fx-background-radius: 0 6 6 0;
    -fx-border-radius: 0 6 6 0;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
}

.chip-button {
    -fx-background-color: transparent;
    -fx-min-height: 20px;
    -fx-max-height: 20px;
    -fx-alignment: center;
    -fx-text-alignment: center;
    -fx-padding: 0 4 3 6;
}

.filter-item {
    -fx-background-radius: 2px;
    -fx-background-color: derive(-fx-base, 70%);
    -fx-spacing: 2px;
    -fx-alignment: center-left;
    -fx-padding: 0 0 0 2px;
}

.filter-item .button {
    -fx-background-color: derive(-fx-base, 70%);
    -fx-background-insets: 2px;
}

.filter-part-item {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-background-radius: 4px;
    -fx-padding: 0 4px 0 4px;
}

.jumper-bar * {
    -fx-font-size: 11;
    -fx-padding: 0 2 0 2;
    -fx-opacity: 0.5;
}

.report-label {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 10;
}

.ranking-header {
    -fx-text-fill: -fx-light-text-color;
    -fx-font-size: 14;
}

.gauge-ctn {
    -fx-background-color: derive(-fx-base, 40%);
    -fx-background-radius: 4;
}

.small-button {
    -fx-background-color: derive(-fx-base, 50%);
}

.small-button:hover {
    -fx-background-color: derive(-fx-base, 70%);
}

/* mplayer ids ------------------------------------------------------------- */

#label-box {
    -fx-background-color: derive(-fx-base, 50%);
    -fx-border-radius: 4;
    -fx-background-insets: 4;
    -fx-border-color: derive(-fx-base, 50%);
}

#menu-bar {
    -fx-background-color: #441a73;
}

#search-box {
    -fx-border-color: -light-gray;
    -fx-background-color: #441a73;
    -fx-border-radius: 4;
}

#message-box {
    -fx-background-color: derive(-fx-base, 20%);
    -fx-border-radius: 0 4;
    -fx-background-radius: 0 4;
    -fx-text-fill: #FF0000;
}

#clear-message-button {
    -fx-background-color: derive(-fx-base, 15%);
}

#clear-search-button {
    -fx-background-color: derive(#441a73, -20%); /* 20% darker */
}

#clear-search-button, #clear-message-button {
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-text-fill: -fx-text-base-color;
}

#clear-search-button:hover, #clear-message-button:hover {
    -fx-border-color: #666666;
}

#text-selection-grid, #text-selection-list{
    -fx-background-color: -fx-base;
    -fx-border-color: white;
    -fx-border-radius: 4px;
}

